@import "tailwindcss";

@font-face {
  font-family: fontM;
  src: url(src/assets/fonts/SpaceGrotesk-Medium.woff);
}

@font-face {
  font-family: fontR;
  src: url(src/assets/fonts/SpaceGrotesk-Regular.woff);
}


html body {
  font-family: fontR;
}

:root{
  --accGreen: #B9FF66;
  --gray:#F3F3F3
  
}